html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height:100%;
}

.mainDiv {
    top: 0%;
    left: 0%;
    /* background-image: url('/img/bg.jpg') ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.header {
    text-align: center;
    position: relative;
    background-color: #6596ef;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.title {
    position: relative;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	color: #444;
	font-size: 1.3em;
    top: 15px;
}

.inputBox {
    position: relative;
    margin: 10px;
    /* left: 50%; */
    /* margin-left: calc(width * 0.5); */
}
