html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height:100%;
}

.mainDiv {
    background-image: url('../img/bg1.jpg') ;
    top: 0%;
    left: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.header {
    text-align: center;
    position: relative;
    background-color: #2C2F33;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.title {
    position: relative;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	color: #ccc;
	font-size: 1.3em;
    top: 15px;
}

.inputBox {
    position: relative;
    margin: 10px auto;
    width: 220px;
    margin-top: 0;
}

.edit {
    width: 50px;
    margin: 0 10px 0 10px;
}

.button {
    width: 50px;
    margin: 0 10px 0 10px;
}

.inputTitles {
    position: relative;
    margin: 10px auto;
    margin-bottom: 0;
    width: 220px;
}

.labels {
    display: inline-block;
    width: 50px;
    margin: 0 11px 0 11px;
}
